/* Variables */

:root {
  --primary: rgb(15, 28, 37);
  --secondary: #39f;
  --tertiary: #b3b0ff;
  --link: #90c5f0;
  --text: rgba(255, 255, 255, 0.8);
}

/* HTML tags */
html {
  background-color: #222;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:disabled,
button:hover:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #999 !important;
  border-color: #e5e5e5 !important;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: Staatliches;
    font-size: 75px;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-family: Staatliches;
    font-size: 120px;
  }
}

h2 {
  font-family: Staatliches;
  font-size: 60px;
}

h3 {
  font-family: Staatliches;
  font-size: 35px;
}

footer {
  z-index: -1;
  padding-right: -1px;
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  width: 20vw;
  min-width: 100px;
}

footer img {
  margin-left: 0.5rem;
  margin: -10px;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.video-container iframe {
  max-width: 90vw;
}

/* Code tags */
pre {
  font-family: monaco, monospace;
  color: rgb(243, 243, 243);
  background: #141414;
  border: 1px solid #202020;
  border-radius: 3px;
  -moz-tab-size: 4;
  tab-size: 4;
}

/* Single line code tag specific */
code {
  overflow-wrap: anywhere;
  white-space: normal !important;
}

/* Multi-line line code tag specific */
pre > code {
  overflow-wrap: normal;
  white-space: pre !important;
  word-break: keep-all;
}

/* Custom classes and ids */
.subtitle {
  font-family: Staatliches;
  font-size: 20px;
  color: rgba(243, 243, 243, 0.8);
}

.nav-category {
  color: var(--tertiary);
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.created-badge {
  color: #fff;
  background: rgb(0, 58, 105);
}

.contributed-badge {
  color: #fff;
  background: rgb(8, 110, 105);
}

.endorsed-badge {
  color: #fff;
  background: #352163;
}

/* Customizing UIkit */
.uk-light {
  color: var(--text);
}

.uk-light a,
.uk-light a:hover {
  color: var(--link);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: var(--primary);
  font-family: Staatliches;
}

.uk-container {
  font-size: 18px;
}

.uk-light .uk-badge,
.uk-badge {
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0 5px;
  background: var(--primary);
  color: rgb(199, 199, 199) !important;
  font-size: 13px;
}

.highlighted-badge,
.highlighted-badge > .uk-light .uk-badge,
.highlighted-badge > .uk-badge {
  border: 2px solid var(--secondary) !important;
}

.custom-container {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: -2;
  min-height: 100%;
}

.uk-card {
  background-color: #222;
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.33);
}

.uk-card:hover,
.uk-card:focus,
.uk-card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.uk-card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
