/* Variables */

:root {
  --primary: #010617;
  --primaryDark: #000410;
  --secondary: #9490ff;
  --secondaryLight: #c5c3ff;
  --link: #74b5eb;
  --text: rgba(255, 255, 255, 0.8);
}

/* HTML tags */
html {
  background-color: var(--primary);
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, "Noto Sans JP", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button:disabled,
button:hover:disabled {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #999 !important;
  border-color: #e5e5e5 !important;
}

@media only screen and (min-width: 725px) {
  h1 {
    font-family: Staatliches;
    font-size: 100px;
  }
}

@media only screen and (max-width: 725px) and (min-width: 500px) {
  h1 {
    font-family: Staatliches;
    font-size: 75px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-family: Staatliches;
    font-size: 50px;
  }
}

h2 {
  font-family: Staatliches;
  font-size: 60px;
}

h3 {
  font-family: Staatliches;
  font-size: 35px;
}

footer {
  z-index: -1;
  padding-right: -1px;
  position: fixed;
  float: right;
  right: 0;
  bottom: 0;
  min-width: 100px;
}

.video-center {
  min-height: 100%;
  position: absolute;
}

footer img {
  margin-left: 0.5rem;
  margin: -10px;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.video-container iframe {
  max-width: 90vw;
  max-height: 50vw;
}

.flag-badge {
  position: absolute;
  bottom: 1%;
  right: 3%;
  z-index: 1;
  align-items: center;
}

/* Code tags */
pre {
  font-family: monaco, monospace;
  color: rgb(243, 243, 243);
  background: #141414;
  border: 1px solid #202020;
  border-radius: 3px;
  -moz-tab-size: 4;
  tab-size: 4;
}

/* Single line code tag specific */
code {
  overflow-wrap: anywhere;
  white-space: normal !important;
}

/* Multi-line line code tag specific */
pre > code {
  overflow-wrap: normal;
  white-space: pre !important;
  word-break: keep-all;
}

/* Custom classes and ids */
.subtitle {
  font-family: Staatliches;
  font-size: 20px;
  color: rgba(243, 243, 243, 0.8);
}

.nav-category {
  color: var(--secondary);
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  line-height: 1.1;
}

/* Project badges */
.created-badge {
  color: #fff;
  background: rgb(0, 58, 105);
}

.contributed-badge {
  color: #fff;
  background: rgb(8, 110, 105);
}

.endorsed-badge {
  color: #fff;
  background: #352163;
}

/* Customizing UIkit */
.uk-light {
  color: var(--text);
}

.uk-light a,
.uk-light a:hover {
  color: var(--link);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: rgb(0, 0, 0, 0);
}

.uk-navbar-container:not(.uk-navbar-transparent) .uk-link-reset {
  font-size: 18px;
}

.uk-offcanvas-bar {
  background-color: rgb(0, 0, 0, 0.99);
  box-shadow: 0px 0px 15px 1px var(--secondary);
}

.uk-container {
  font-size: 18px;
}

.uk-light .uk-badge,
.uk-badge {
  border: 2px solid var(--secondary);
  padding: 12px 6px;
  margin: 0 2px;
  background: rgb(0, 0, 0, 0);
  color: var(--secondaryLight) !important;
  font-size: 14px;
}

.highlighted-badge,
.highlighted-badge > .uk-light .uk-badge,
.highlighted-badge > .uk-badge {
  border: 2px solid var(--secondary) !important;
}

.uk-card {
  color: var(--secondaryLight);
  background-color: var(--primaryDark);
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.33);
}

.uk-card:hover,
.uk-card:focus,
.uk-card:active {
  color: var(--secondary);
  border-color: var(--secondary);
}

.uk-card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
