:root {
  --moonsize: 250px;
}

// Moon
.moonArea {
  position: fixed;
  z-index: -1;
  pointer-events: none;
}

@media only screen and (min-width: 725px) {
  .cloudsRightLanding,
  .cloudsRight,
  .cloudsLeftLanding,
  .cloudsLeft {
    top: 0;
    height: 100%;
  }
  .moonArea {
    z-index: -1;
    position: fixed;
    top: 15vh;
    left: 66vw;
    width: var(--moonsize);
    height: var(--moonsize);
  }
}

@media only screen and (max-width: 725px) and (min-width: 500px) {
  .cloudsRightLanding,
  .cloudsRight,
  .cloudsLeftLanding,
  .cloudsLeft {
    top: 0;
    height: 100%;
  }
  .moonArea {
    z-index: -1;
    position: fixed;
    top: 15vh;
    left: 60vw;
    width: calc(var(--moonsize) * 0.75);
    height: calc(var(--moonsize) * 0.75);
  }
}

@media only screen and (max-width: 500px) {
  .cloudsRightLanding,
  .cloudsRight,
  .cloudsLeftLanding,
  .cloudsLeft {
    top: -20vw;
    height: 200%;
  }
  .moonArea {
    z-index: -1;
    position: fixed;
    top: 15vh;
    left: 50vw;
    width: calc(var(--moonsize) * 0.66);
    height: calc(var(--moonsize) * 0.66);
  }
}

.moon {
  background: no-repeat url("../public/nightsky/tsuki.webp");
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: hue-rotate(20deg) saturate(130%);
  z-index: -1;
  pointer-events: none;
}

.newmoon,
.waxingcrescent,
.firstquarter,
.waxinggibbous,
.fullmoon,
.waninggibbous,
.thirdquarter,
.waningcrescent {
  position: absolute;
  width: 115%;
  height: 115%;
  opacity: 0.95;
  z-index: -1;
  pointer-events: none;
}

.fullmoon {
  display: none;
}

.newmoon {
  margin: -20px;
  background: radial-gradient(var(--primary) 60%, transparent 75%);
  opacity: 0.9;
}

.waxingcrescent {
  margin: -55px;
  background: radial-gradient(var(--primary) 55%, transparent 75%);
}

.waningcrescent {
  margin: -50px 0 0 40px;
  background: radial-gradient(var(--primary) 55%, transparent 75%);
}

.waxinggibbous {
  background: radial-gradient(circle at 65%, transparent, transparent 50%, rgb(1, 6, 23, 1) 60%, rgb(1, 6, 23, 1) 90%);
}

.waninggibbous {
  background: radial-gradient(circle at 5%, transparent, transparent 50%, rgb(1, 6, 23, 1) 60%, rgb(1, 6, 23, 1) 90%);
}

.firstquarter {
  background: radial-gradient(circle at 120%, transparent, transparent 55%, rgb(1, 6, 23, 1) 66%, rgb(1, 6, 23, 1) 90%);
}

.thirdquarter {
  background: radial-gradient(circle at -40%, transparent, transparent 55%, rgb(1, 6, 23, 1) 66%, rgb(1, 6, 23, 1) 90%);
}

// Stars
@keyframes move-twink {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.twinkling {
  z-index: -2;
  background: transparent url("../public/nightsky/twinklingblue2.webp") repeat top center;
  animation: move-twink 250s linear infinite;
}

.stars {
  z-index: -3;
  background: var(--primary) url("../public/nightsky/stars.webp") repeat top center;
}

// Clouds

@keyframes {
}

@keyframes cloud-movement-right {
  0% {
    transform: scale(4) translateX(0);
  }
  100% {
    transform: scale(4) translateX(10%);
  }
}

@keyframes cloud-movement-left {
  0% {
    transform: scaleX(-1) scale(5) translateX(0);
  }
  100% {
    transform: scaleX(-1) scale(5) translateX(10%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.1;
  }
}

.cloudsRightLanding,
.cloudsLeftLanding,
.cloudsLeft,
.cloudsRight {
  z-index: -1;
  position: fixed;
  width: 100%;
  opacity: 0.1;
  background-size: cover;
  pointer-events: none;
}

.cloudsRightLanding {
  background: no-repeat transparent url("../public/nightsky/cloud1_s.webp") 50% 50%;
  animation: cloud-movement-right 120s cubic-bezier(0.05, 1, 0.1, 0.95), fade-out linear 5s;
  transform: scale(4) translateX(10%);
}

.cloudsLeftLanding {
  background: no-repeat transparent url("../public/nightsky/cloud2_s.webp") 50% 50%;
  animation: cloud-movement-left 120s cubic-bezier(0.05, 1, 0.1, 0.95), fade-out linear 5s;
  transform: scaleX(-1) scale(5) translateX(10%);
}

.cloudsRight {
  background: no-repeat transparent url("../public/nightsky/cloud1_s.webp") 50% 50%;
  animation: cloud-movement-right 120s ease-out;
  transform: scale(4) translateX(10%);
}

.cloudsLeft {
  background: no-repeat transparent url("../public/nightsky/cloud2_s.webp") 50% 50%;
  animation: cloud-movement-left 120s ease-out;
  transform: scaleX(-1) scale(5) translateX(10%);
}
